NODE_ENV=development

REDIS_URL=tiny-exemplary-rapid-14089.db.redis.io
REDIS_PORT=17715

POSTGRES_URL=postgresql://vahedi.e1401:jvHrQg7a6YGA@ep-yellow-base-49013642-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

BINANCE_SPOT_WS=wss://stream.binance.com:9443/ws

BINANCE_FUTURES_WS=wss://fstream.binance.com/ws

LOG_LEVEL=debug